name: CI_PIPELINE

on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:   
            node-version: 16

      - name: Insatall dependencies
        run: npm Insatall

      - name: Run test
        run: npm test